h1{
    text-align:center;
}
h1{
    color:red;
}
body{
    background-image:url(https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/RmKbPt0/golden-lines-award-background_hjdkzy7zg_thumbnail-full01.png);
}
img{
    width:200px;
}
body{
    background-image:url(https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/RmKbPt0/golden-lines-award-background_hjdkzy7zg_thumbnail-full01.png);
    text-align:center;
}
img{
    background-image:url(https://steamcdn-a.akamaihd.net/steam/apps/678950/header.jpg?t=1533232528);
    width:325px;
}
classYT{
    background-image:url(https://i.redd.it/knjupigo3qt01.jpg);
    width:350px;
}
h3{
    color:green;
}